# Google 股價為範例，操作時間序列的技巧

In [37]:
import pandas as pd
import datetime as dt
import pandas_datareader.data as data

 
# 舊程式碼
# start = dt.datetime(2020, 3, 1)
# end = dt.datetime(2020, 4, 30)
# df = data.get_data_yahoo('GOOG', start, end)
# df

# 更新後的程式碼
df = data.DataReader('AAPL', data_source = 'stooq', start='2024-08-01',end='2024-09-27')
df

                Open      High       Low   Close     Volume
Date
2024-09-26  227.3000  228.5000  225.4100  227.52   36636707
2024-09-25  224.9300  227.2900  224.0200  226.37   42308715
2024-09-24  228.6450  229.3500  225.7300  227.37   43556068
2024-09-23  227.3400  229.4500  225.8100  226.47   54146023
2024-09-20  229.9700  233.0900  227.6200  228.20  318679888
2024-09-19  224.9900  229.8200  224.6300  228.87   66781315
2024-09-18  217.5500  222.7100  217.5400  220.69   59894928
2024-09-17  215.7500  216.9000  214.5000  216.79   45519339
2024-09-16  216.5400  217.2200  213.9200  216.32   59357427
2024-09-13  223.5800  224.0400  221.9100  222.50   36766619
2024-09-12  222.5000  223.5500  219.8200  222.77   37498225
2024-09-11  221.4550  223.0900  217.8900  222.66   44587072
2024-09-10  218.9200  221.4800  216.7300  220.11   51591033
2024-09-09  220.8200  221.2700  216.7100  220.91   67179965
2024-09-06  223.9500  225.2400  219.7700  220.82   48423011
2024-09-05  221.6250  225.4800  221.5200  222.38   36615398
2024-09-04  221.6600  221.7800  217.4800  220.85   43840196
2024-09-03  228.5500  229.0000  221.1700  222.77   50190574
2024-08-30  230.1900  230.4000  227.4800  229.00   52990770
2024-08-29  230.1000  232.9200  228.8800  229.79   51906297
2024-08-28  227.9200  229.8600  225.6800  226.49   38052167
2024-08-27  225.9950  228.8500  224.8900  228.03   35934559
2024-08-26  226.7600  227.2800  223.8905  227.18   30602208
2024-08-23  225.6589  228.2200  224.3300  226.84   38677250
2024-08-22  227.7900  228.3400  223.9000  224.53   43695321
2024-08-21  226.5200  227.9800  225.0500  226.40   34765480
2024-08-20  225.7700  227.1700  225.4500  226.51   30299033
2024-08-19  225.7200  225.9900  223.0400  225.89   40687813
2024-08-16  223.9200  226.8271  223.6501  226.05   44340240
2024-08-15  224.6000  225.3500  222.7600  224.72   46414013
2024-08-14  220.5700  223.0300  219.7000  221.72   41960574
2024-08-13  219.0100  221.8900  219.0100  221.27   44155331
2024-08-12  216.0700  219.5099  215.6000  217.53   38028092
2024-08-09  212.1000  216.7800  211.9700  216.24   42201646
2024-08-08  213.1100  214.2000  208.8300  213.31   47161149
2024-08-07  206.9000  213.6400  206.3900  209.82   63516417
2024-08-06  205.3000  209.9900  201.0700  207.23   69660488
2024-08-05  199.0900  213.5000  196.0000  209.27  119548589
2024-08-02  219.1500  225.6000  217.7100  219.86  105568560
2024-08-01  224.3700  224.4800  217.0200  218.36   62500996

## DatetimeIndex
用時間作為索引的型態<br>
https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DatetimeIndex.html

In [47]:
df['week'] = df.index.isocalendar().week
df

                Open      High       Low   Close     Volume  week
Date
2024-09-26  227.3000  228.5000  225.4100  227.52   36636707    39
2024-09-25  224.9300  227.2900  224.0200  226.37   42308715    39
2024-09-24  228.6450  229.3500  225.7300  227.37   43556068    39
2024-09-23  227.3400  229.4500  225.8100  226.47   54146023    39
2024-09-20  229.9700  233.0900  227.6200  228.20  318679888    38
2024-09-19  224.9900  229.8200  224.6300  228.87   66781315    38
2024-09-18  217.5500  222.7100  217.5400  220.69   59894928    38
2024-09-17  215.7500  216.9000  214.5000  216.79   45519339    38
2024-09-16  216.5400  217.2200  213.9200  216.32   59357427    38
2024-09-13  223.5800  224.0400  221.9100  222.50   36766619    37
2024-09-12  222.5000  223.5500  219.8200  222.77   37498225    37
2024-09-11  221.4550  223.0900  217.8900  222.66   44587072    37
2024-09-10  218.9200  221.4800  216.7300  220.11   51591033    37
2024-09-09  220.8200  221.2700  216.7100  220.91   67179965    37
2024-09-06  223.9500  225.2400  219.7700  220.82   48423011    36
2024-09-05  221.6250  225.4800  221.5200  222.38   36615398    36
2024-09-04  221.6600  221.7800  217.4800  220.85   43840196    36
2024-09-03  228.5500  229.0000  221.1700  222.77   50190574    36
2024-08-30  230.1900  230.4000  227.4800  229.00   52990770    35
2024-08-29  230.1000  232.9200  228.8800  229.79   51906297    35
2024-08-28  227.9200  229.8600  225.6800  226.49   38052167    35
2024-08-27  225.9950  228.8500  224.8900  228.03   35934559    35
2024-08-26  226.7600  227.2800  223.8905  227.18   30602208    35
2024-08-23  225.6589  228.2200  224.3300  226.84   38677250    34
2024-08-22  227.7900  228.3400  223.9000  224.53   43695321    34
2024-08-21  226.5200  227.9800  225.0500  226.40   34765480    34
2024-08-20  225.7700  227.1700  225.4500  226.51   30299033    34
2024-08-19  225.7200  225.9900  223.0400  225.89   40687813    34
2024-08-16  223.9200  226.8271  223.6501  226.05   44340240    33
2024-08-15  224.6000  225.3500  222.7600  224.72   46414013    33
2024-08-14  220.5700  223.0300  219.7000  221.72   41960574    33
2024-08-13  219.0100  221.8900  219.0100  221.27   44155331    33
2024-08-12  216.0700  219.5099  215.6000  217.53   38028092    33
2024-08-09  212.1000  216.7800  211.9700  216.24   42201646    32
2024-08-08  213.1100  214.2000  208.8300  213.31   47161149    32
2024-08-07  206.9000  213.6400  206.3900  209.82   63516417    32
2024-08-06  205.3000  209.9900  201.0700  207.23   69660488    32
2024-08-05  199.0900  213.5000  196.0000  209.27  119548589    32
2024-08-02  219.1500  225.6000  217.7100  219.86  105568560    31
2024-08-01  224.3700  224.4800  217.0200  218.36   62500996    31

## 計算每週交易量總和

In [81]:
df['week'] = df.index.isocalendar().week

In [85]:
df.groupby('week').Volume.sum()

#df.groupby('week').agg({'Volume':'sum'})

week
31    168069556
32    342088289
33    214898250
34    188124897
35    209486001
36    179069179
37    237622914
38    550232897
39    176647513
Name: Volume, dtype: int64

## resample
調整週期重新採樣的方法<br>
https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.resample.html#pandas.DataFrame.resample

In [87]:
ten = df.resample('10D').mean()  #10日均線
ten

,Open,High,Low,Close,Volume,week
Date,,,,,,
2024-08-01,211.431429,216.884286,208.427143,213.441429,7.287969e+07,31.714286
2024-08-11,222.237143,224.252429,221.315729,223.384286,4.084073e+07,33.285714
2024-08-21,227.616737,229.231250,225.512563,227.282500,4.082801e+07,34.625
2024-08-31,223.321000,224.554000,219.330000,221.546000,4.924983e+07,36.2
2024-09-10,220.160625,222.351250,218.367500,221.338750,5.024949e+07,37.5
2024-09-20,227.637000,229.536000,225.718000,227.186000,9.906548e+07,38.8