# 練習
## 愛爾蘭風速資料
Pandas read_csv : https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.read_csv.html<br>
正規化參考網站：https://cheatography.com/davechild/cheat-sheets/regular-expressions/

In [5]:
import pandas as pd
import datetime
data_url = 'https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/06_Stats/Wind_Stats/wind.data'
#本次的分隔符號是多個空白，用"正規表示式" \s+
data = pd.read_csv(data_url, sep = '\\s+') 
# 合併和解析日期列
data['datetime'] = pd.to_datetime(data[['Yr', 'Mo', 'Dy']].astype(str).agg('-'.join, axis=1), format='%y-%m-%d')
# 刪除原本的欄位
data.drop(['Yr', 'Mo', 'Dy'], axis=1, inplace=True)
# 將日期列移到第一個欄位
cols = ['datetime'] + [col for col in data if col != 'datetime']
data = data[cols]
data

,datetime,RPT,VAL,ROS,KIL,SHA,BIR,DUB,CLA,MUL,CLO,BEL,MAL
0,2061-01-01,15.04,14.96,13.17,9.29,NaN,9.87,13.67,10.25,10.83,12.58,18.50,15.04
1,2061-01-02,14.71,NaN,10.83,6.50,12.62,7.67,11.50,10.04,9.79,9.67,17.54,13.83
2,2061-01-03,18.50,16.88,12.33,10.13,11.17,6.17,11.25,NaN,8.50,7.67,12.75,12.71
3,2061-01-04,10.58,6.63,11.75,4.58,4.54,2.88,8.63,1.79,5.83,5.88,5.46,10.88
4,2061-01-05,13.33,13.25,11.42,6.17,10.71,8.21,11.92,6.54,10.92,10.34,12.92,11.83
...,...,...,...,...,...,...,...,...,...,...,...,...,...
6569,1978-12-27,17.58,16.96,17.62,8.08,13.21,11.67,14.46,15.59,14.04,14.00,17.21,40.08
6570,1978-12-28,13.21,5.46,13.46,5.00,8.12,9.42,14.33,16.25,15.25,18.05,21.79,41.46
6571,1978-12-29,14.00,10.29,14.42,8.71,9.71,10.54,19.17,12.46,14.50,16.42,18.88,29.58
6572,1978-12-30,18.50,14.04,21.29,9.13,12.75,9.71,18.08,12.87,12.46,12.12,14.67,28.79
6573,1978-12-31,20.33,17.41,27.29,9.59,12.08,10.13,19.25,11.63,11.58,11.38,12.08,22.08

## 修正日期錯誤
* 資料的年份，從兩千開始補上前面的字元
* 資料年份來到70時，又從19開始

<br>修正方式:大於2060年的資料減去100，建立新的日期欄位資訊

In [2]:
def fix(x):
    year = x.year - 100 if x.year > 2060 else x.year
    return datetime.datetime(year, x.month, x.day)

data['Yr_Mo_Dy'] = data['Yr_Mo_Dy'].apply(fix)
data

,Yr_Mo_Dy,RPT,VAL,ROS,KIL,SHA,BIR,DUB,CLA,MUL,CLO,BEL,MAL
0,1961-01-01,15.04,14.96,13.17,9.29,NaN,9.87,13.67,10.25,10.83,12.58,18.50,15.04
1,1961-01-02,14.71,NaN,10.83,6.50,12.62,7.67,11.50,10.04,9.79,9.67,17.54,13.83
2,1961-01-03,18.50,16.88,12.33,10.13,11.17,6.17,11.25,NaN,8.50,7.67,12.75,12.71
3,1961-01-04,10.58,6.63,11.75,4.58,4.54,2.88,8.63,1.79,5.83,5.88,5.46,10.88
4,1961-01-05,13.33,13.25,11.42,6.17,10.71,8.21,11.92,6.54,10.92,10.34,12.92,11.83
...,...,...,...,...,...,...,...,...,...,...,...,...,...
6569,1978-12-27,17.58,16.96,17.62,8.08,13.21,11.67,14.46,15.59,14.04,14.00,17.21,40.08
6570,1978-12-28,13.21,5.46,13.46,5.00,8.12,9.42,14.33,16.25,15.25,18.05,21.79,41.46
6571,1978-12-29,14.00,10.29,14.42,8.71,9.71,10.54,19.17,12.46,14.50,16.42,18.88,29.58
6572,1978-12-30,18.50,14.04,21.29,9.13,12.75,9.71,18.08,12.87,12.46,12.12,14.67,28.79
6573,1978-12-31,20.33,17.41,27.29,9.59,12.08,10.13,19.25,11.63,11.58,11.38,12.08,22.08

## 將日期欄位設定為index

In [11]:
data.index = pd.to_datetime(data['datetime'])
data.drop(['datetime'], axis=1, inplace=True)
data

,RPT,VAL,ROS,KIL,SHA,BIR,DUB,CLA,MUL,CLO,BEL,MAL
datetime,,,,,,,,,,,,
2061-01-01,15.04,14.96,13.17,9.29,NaN,9.87,13.67,10.25,10.83,12.58,18.50,15.04
2061-01-02,14.71,NaN,10.83,6.50,12.62,7.67,11.50,10.04,9.79,9.67,17.54,13.83
2061-01-03,18.50,16.88,12.33,10.13,11.17,6.17,11.25,NaN,8.50,7.67,12.75,12.71
2061-01-04,10.58,6.63,11.75,4.58,4.54,2.88,8.63,1.79,5.83,5.88,5.46,10.88
2061-01-05,13.33,13.25,11.42,6.17,10.71,8.21,11.92,6.54,10.92,10.34,12.92,11.83
...,...,...,...,...,...,...,...,...,...,...,...,...
1978-12-27,17.58,16.96,17.62,8.08,13.21,11.67,14.46,15.59,14.04,14.00,17.21,40.08
1978-12-28,13.21,5.46,13.46,5.00,8.12,9.42,14.33,16.25,15.25,18.05,21.79,41.46
1978-12-29,14.00,10.29,14.42,8.71,9.71,10.54,19.17,12.46,14.50,16.42,18.88,29.58
1978-12-30,18.50,14.04,21.29,9.13,12.75,9.71,18.08,12.87,12.46,12.12,14.67,28.79
1978-12-31,20.33,17.41,27.29,9.59,12.08,10.13,19.25,11.63,11.58,11.38,12.08,22.08

## 個地區每一年每週的平均風速

In [15]:
data.groupby(data.index.to_period('W')).mean()

,RPT,VAL,ROS,KIL,SHA,BIR,DUB,CLA,MUL,CLO,BEL,MAL
datetime,,,,,,,,,,,,
1968-12-30/1969-01-05,5.884000,3.958000,6.758000,2.752000,5.416000,2.392000,8.626000,4.388000,5.640000,7.160000,11.510000,16.108000
1969-01-06/1969-01-12,14.708571,12.521429,15.135714,6.851429,11.940000,6.744286,10.591429,9.174286,9.107143,10.124286,12.130000,20.385714
1969-01-13/1969-01-19,15.030000,16.452857,10.778571,7.774286,12.590000,6.821429,9.998571,8.815714,9.078571,8.385714,13.624286,14.248571
1969-01-20/1969-01-26,14.438571,14.267143,13.017143,7.721429,10.607143,7.114286,8.537143,10.030000,7.720000,10.720000,15.475714,15.827143
1969-01-27/1969-02-02,13.510000,11.917143,10.702857,8.111429,11.581429,5.612857,12.305714,8.394286,10.437143,10.771429,15.757143,20.284286
...,...,...,...,...,...,...,...,...,...,...,...,...
2068-12-03/2068-12-09,9.251429,10.535714,12.772857,5.142857,8.684286,4.720000,7.632857,6.535714,6.081429,8.310000,10.855714,15.102857
2068-12-10/2068-12-16,12.047143,10.464286,10.857143,4.685714,8.707143,4.780000,6.470000,6.095714,6.302857,7.690000,10.970000,14.588571
2068-12-17/2068-12-23,18.220000,15.165714,15.737143,9.208571,13.352857,8.395714,13.701429,10.178571,11.177143,12.630000,15.750000,22.332857
2068-12-24/2068-12-30,13.251429,9.327143,14.167143,5.338571,8.341429,3.915714,9.368571,5.641429,7.947143,8.124286,11.712857,23.225714
2068-12-31/2069-01-06,9.130000,2.130000,7.380000,2.500000,4.040000,0.500000,6.830000,2.540000,3.540000,5.500000,5.710000,12.420000

## 每個地區每個月的風速平均、最小值和最大值

In [33]:
data.groupby(data.index.month).agg(['mean', 'min', 'max'])

                RPT                     VAL                     ROS        \
               mean   min    max       mean   min    max       mean   min
datetime
1         14.847325  0.67  35.38  12.914560  0.54  33.04  13.299624  2.75
2         13.710906  0.67  33.84  12.111122  0.63  30.96  12.879132  2.37
3         13.158687  1.46  35.80  11.505842  1.50  31.63  12.648118  2.92
4         12.555648  3.42  32.58  10.429759  0.54  27.71  12.204815  1.75
5         11.724032  1.63  30.91  10.145619  1.25  26.00  11.550394  2.29
6         10.451317  1.00  23.21   8.949704  1.00  21.04  10.361315  1.83
7          9.992007  1.25  25.84   8.357778  0.96  19.41   9.349642  2.50
8         10.213411  0.96  26.38   8.415143  0.71  23.42   9.993441  2.46
9         11.458519  0.79  31.42   9.981002  0.83  28.50  10.756883  2.25
10        12.660610  1.50  29.08  11.010681  0.21  26.71  11.453943  1.96
11        13.200722  2.67  32.96  11.639500  1.21  30.34  12.293407  1.50
12        14.446398  1.21  34.37  12.353602  0.37  33.37  13.212276  2.13

                      KIL  ...    MUL        CLO                     BEL  \
            max      mean  ...    max       mean   min    max       mean
datetime                   ...
1         32.25  7.199498  ...  25.88  10.053566  0.04  24.17  14.550520
2         32.71  6.942411  ...  25.29   9.518051  0.50  25.00  13.728898
3         32.75  7.265907  ...  24.87  10.096953  0.25  25.37  13.810609
4         30.54  6.898037  ...  23.58   9.158019  0.67  21.84  12.664759
5         27.67  6.307487  ...  21.62   8.524857  0.50  21.37  12.767258
6         28.58  5.652278  ...  20.25   7.729185  0.54  21.79  12.246407
7         25.12  5.416935  ...  17.41   7.321416  0.37  17.83  11.676505
8         27.88  5.270681  ...  22.71   7.002783  0.04  23.71  11.110090
9         31.63  5.615176  ...  21.46   7.689278  0.13  25.21  12.686389
10        29.54  6.065215  ...  20.33   8.850376  0.21  26.38  14.155323
11        33.25  6.247611  ...  24.46   8.943167  0.04  27.29  13.815741
12        33.84  6.829910  ...  25.80   9.627670  0.13  28.21  14.259516

                             MAL
           min    max       mean   min    max
datetime
1         0.13  39.04  18.028763  3.25  40.12
2         2.04  35.08  17.156142  3.04  38.20
3         2.21  34.92  16.909317  2.04  40.37
4         2.88  27.00  14.937611  2.21  33.95
5         2.67  32.91  13.736039  1.75  32.17
6         2.96  29.79  12.861818  2.21  32.79
7         3.25  24.50  12.800789  2.13  29.63
8         1.58  24.83  12.565943  2.17  34.33
9         1.63  28.79  14.761963  0.67  35.13
10        2.21  38.96  16.697151  2.04  36.63
11        0.71  35.30  18.114185  2.00  41.25
12        0.67  42.38  18.697599  2.62  42.54

[12 rows x 36 columns]